---
import Container from "./Container.astro";
---

<Container>
    <div class="flex-row items-center my-6 p-14 bg-zinc-100 rounded-[45px]">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="justify-start items-center gap-[275px] flex">
            <div
              class="flex-col justify-start items-start gap-[26px] inline-flex text-black"
            >
              <div class="text-3xl font-medium">Let’s make things happen</div>
              <div class="text-lg font-normal">
                Let us know about how we can help you! 🚀
              </div>
            </div>
          </div>
          <div class="md:grid items-center">
            <a
            href="https://tally.so/r/npL5jJ"
            target="_blank"
            class="px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-center items-center gap-2.5 inline-flex h-20"
          >
            <div class="text-center text-white text-xl font-normal leading-7">
              Heck yeah, let's talk!
            </div>
          </a>
          </div>
        </div>
      </div>
</Container>